<md-sidenav-container class="app-root" #root="$implicit" [dir]="dir" fullscreen>

    <md-sidenav #start mode="over">

        <md-nav-list>
            <h3 translate>App.Menu</h3>
            <a routerLinkActive="active-link" md-list-item routerLink="/home" translate>App.Home</a>
            <a routerLinkActive="active-link" md-list-item routerLink="/i18n" translate>App.I18n</a>
            <a routerLinkActive="active-link" md-list-item routerLink="/list" translate>App.List</a>
            <a routerLinkActive="active-link" md-list-item routerLink="/validation" translate>App.Validation</a>
        </md-nav-list>

        <md-nav-list>
            <h3 translate>App.Change country</h3>
            <md-list-item>
                <a md-line (click)="selectLocale('en', 'US', 'USD'); root.dir = getLanguageDirection('en')">United States</a>
                <md-icon *ngIf="currentCountry == 'US'">done</md-icon>
            </md-list-item>
            <md-list-item>
                <a md-line (click)="selectLocale('en', 'GB', 'GBP'); root.dir = getLanguageDirection('en')">United Kingdom</a>
                <md-icon *ngIf="currentCountry == 'GB'">done</md-icon>
            </md-list-item>
            <md-list-item>
                <a md-line (click)="selectLocale('it', 'IT', 'EUR'); root.dir = getLanguageDirection('it')">Italia</a>
                <md-icon *ngIf="currentCountry == 'IT'">done</md-icon>
            </md-list-item>
            <md-list-item>
                <a md-line (click)="selectLocale('ar', 'SA', 'SAR'); root.dir = getLanguageDirection('ar')">المملكة العربية السعودية</a>
                <md-icon *ngIf="currentCountry == 'SA'">done</md-icon>
            </md-list-item>
        </md-nav-list>

        <md-nav-list>
            <h3 translate>App.Resources</h3>
            <a md-list-item href="https://github.com/robisim74/angular-l10n-sample" translate>App.Source code</a>
        </md-nav-list>

    </md-sidenav>

    <div>
        <md-toolbar color="primary">
            <button md-icon-button (click)="start.open()">
                <md-icon class="md-24">menu</md-icon>
            </button>
            <div class="app-toolbar">
                <h1 translate>App.Title</h1>

                <span class="fill-remaining-space"></span>
            </div>
            <md-toolbar-row>
                <span translate>App.Subtitle</span>
            </md-toolbar-row>
        </md-toolbar>
    </div>

    <div class="app-content">

        <router-outlet></router-outlet>

    </div>

</md-sidenav-container>