<md-sidenav-container class="app-root" #root="dir" [dir]="dir" fullscreen>

    <md-sidenav #start mode="over">
        <md-nav-list>
            <a *ngFor="let navItem of navItems" md-list-item routerLinkActive="active-link" (click)="start.close()" [routerLink]="[navItem.route]"
                l10nTranslate>
                {{ navItem.name }}
            </a>
        </md-nav-list>
    </md-sidenav>

    <div>
        <md-toolbar color="primary" class="mat-elevation-z6">
            <button md-icon-button (click)="start.open()">
                <md-icon>menu</md-icon>
            </button>
            <div class="app-toolbar">
                <h1 l10nTranslate>App.Title</h1>

                <span class="fill-remaining-space"></span>
                <div class="menu-section">
                    <button md-icon-button [mdMenuTriggerFor]="countryMenu" aria-label="Open x-positioned menu">
                        <md-icon>translate</md-icon>
                    </button>

                    <md-menu xPosition="before" #countryMenu="mdMenu" class="before">
                        <a *ngFor="let item of countryMenuItems" (click)="selectLocale(item.language, item.country, item.currency); root.dir = getLanguageDirection(item.language)"
                            md-menu-item>
                            {{ item.text }}
                            <md-icon *ngIf="currentCountry == item.country">done</md-icon>
                        </a>
                    </md-menu>
                </div>
                <div class="menu-section">
                    <button md-icon-button [mdMenuTriggerFor]="posXMenu" aria-label="Open x-positioned menu">
                        <md-icon>more_vert</md-icon>
                    </button>

                    <md-menu xPosition="before" #posXMenu="mdMenu" class="before">
                        <a href="https://github.com/robisim74/angular-l10n-sample" md-menu-item l10nTranslate>
                            <md-icon>code</md-icon>App.Source code
                        </a>
                    </md-menu>
                </div>
            </div>
            <md-toolbar-row class="app-toolbar-row">
                <span l10nTranslate>App.Subtitle</span>
            </md-toolbar-row>
        </md-toolbar>

        <div class="app-content">
            <router-outlet></router-outlet>
        </div>
    </div>

</md-sidenav-container>