<mat-sidenav-container class="app-root" #root="dir" [dir]="dir" fullscreen>

    <mat-sidenav #start mode="over">
        <mat-nav-list>
            <a *ngFor="let navItem of navItems" mat-list-item routerLinkActive="active-link" (click)="start.close()"
                [routerLink]="[navItem.route]" l10nTranslate>
                {{ navItem.name }}
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <div>
        <mat-toolbar color="primary" class="mat-elevation-z6">
            <mat-toolbar-row>
                <button mat-icon-button (click)="start.open()">
                    <mat-icon>menu</mat-icon>
                </button>
                <div class="app-toolbar">
                    <h1 l10nTranslate>app.title</h1>

                    <span class="fill-remaining-space"></span>
                    <div class="menu-section">
                        <button mat-icon-button [matMenuTriggerFor]="countryMenu" aria-label="Open x-positioned menu">
                            <mat-icon>translate</mat-icon>
                        </button>

                        <mat-menu xPosition="before" #countryMenu="matMenu" class="before">
                            <a *ngFor="let item of countryMenuItems" (click)="selectLocale(item.languageCode, item.countryCode, item.numberingSystem, item.currency)"
                                mat-menu-item>
                                {{ item.text }}
                                <mat-icon *ngIf="currentCountry == item.countryCode && currentNumberingSystem == item.numberingSystem">done</mat-icon>
                            </a>
                        </mat-menu>
                    </div>
                    <div class="menu-section">
                        <button mat-icon-button [matMenuTriggerFor]="posXMenu" aria-label="Open x-positioned menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>

                        <mat-menu xPosition="before" #posXMenu="matMenu" class="before">
                            <a href="https://github.com/robisim74/angular-l10n-sample" mat-menu-item l10nTranslate>
                                <mat-icon>code</mat-icon>app.sourceCode
                            </a>
                        </mat-menu>
                    </div>
                </div>
            </mat-toolbar-row>
            <mat-toolbar-row class="app-toolbar-row">
                <span l10nTranslate>app.subtitle</span>
            </mat-toolbar-row>
        </mat-toolbar>

        <div class="app-content">
            <router-outlet></router-outlet>
        </div>
    </div>

</mat-sidenav-container>