<h1 l10nTranslate>app.list</h1>

<div class="list-main-container">

    <div class="list-card-container">
        <mat-card *ngFor="let item of DATA | async">
            <mat-card-title>{{ item.name }}</mat-card-title>
            <mat-card-content>
                <mat-list>
                    <mat-list-item>
                        <h3 matLine>{{ item.position | translate:lang }}</h3>
                        <p matLine>{{ item.salary | l10nCurrency:defaultLocale:currency:'symbol':'1.0-0' }}</p>
                        <p matLine>{{ item.startDate | l10nDate:defaultLocale:'mediumDate' }}</p>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="list-aside-container" *ngIf="intlAPI">
        <button type="submit" mat-raised-button color="primary" (click)="filterData('position', 'asc')" [disabled]="order == 'asc'">{{
            'orderByPosition' | translate:lang }}</button><br>
        <button type="submit" mat-raised-button color="primary" (click)="filterData('position', 'desc')" [disabled]="order == 'desc'">{{
            'orderByDescPosition' | translate:lang }}</button><br>

        <mat-form-field>
            <input matInput [(ngModel)]="s" placeholder="{{ 'searchByPosition' | translate:lang }}" (keyup)="filterData(keyName, order)">
        </mat-form-field>
    </div>

</div>