<br>
<div *ngIf="!intlAPI" class="hasError" l10nTranslate>Home.IntlAPI</div>
<br>

<div class="app-card-container">

    <md-card>
        <md-card-title l10nTranslate>Home.Messages</md-card-title>
        <md-card-content>
            <p l10nTranslate>Home.Dummy text</p>
            <p l10nTranslate>Home.Author<span>&nbsp;</span><em l10nTranslate>Home.Source title</em></p>
        </md-card-content>
    </md-card>

    <md-card>
        <md-card-title l10nTranslate>Home.Dates</md-card-title>
        <md-card-content>
            <p l10nDate="fullDate">{{ today }}</p>
        </md-card-content>
    </md-card>

    <md-card>
        <md-card-title l10nTranslate>Home.Numbers</md-card-title>
        <md-card-content>
            <h3 l10nTranslate>Home.Decimals</h3>
            <p l10nTranslate>Home.Pi<span>&nbsp;</span><span l10nDecimal="1.5-5">{{ pi }}</span></p>
            <br>
            <h3 l10nTranslate>Home.Percentages</h3>
            <p l10nPercent="1.0-0">{{ a }} </p>
            <br>
            <h3 l10nTranslate>Home.Currencies</h3>
            <p l10nCurrency="1.2-2" [symbol]="true">{{ b }}</p>
        </md-card-content>
    </md-card>

</div>