<h1 l10nTranslate>app.home</h1>

<br>
<div *ngIf="!intlAPI" class="has-error" l10nTranslate>home.intlAPI</div>
<br>

<div class="home-card-container">

    <mat-card>
        <mat-card-title l10nTranslate>home.messages</mat-card-title>
        <mat-card-content>
            <p l10nTranslate>home.dummyText</p>
            <p l10nTranslate>home.author</p>
            <p [innerHTML]="'home.sourceTitle'" l10nTranslate></p>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title l10nTranslate>home.dates</mat-card-title>
        <mat-card-content>
            <p format="fullDate" l10nDate>{{ today }}</p>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title l10nTranslate>home.numbers</mat-card-title>
        <mat-card-content>
            <h3 l10nTranslate>home.decimals</h3>
            <p l10nTranslate>home.pi
                <span>&nbsp;</span>
                <span digits="1.5-5" l10nDecimal>{{ pi }}</span>
            </p>
            <br>
            <h3 l10nTranslate>home.percentages</h3>
            <p digits="1.0-0" l10nPercent>{{ a }} </p>
            <br>
            <h3 l10nTranslate>home.currencies</h3>
            <p digits="1.2-2" currencyDisplay="symbol" l10nCurrency>{{ b }}</p>
        </mat-card-content>
    </mat-card>

</div>