body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

md-sidenav {
	width: 250px;
	padding: 10px;

		[md-button] {
			width: 100%;
			position: relative;
			bottom: 0;
			margin: 24px 0;
		}
}

.app-content {
	padding: 32px;
}

md-toolbar {
	md-icon {
		cursor: pointer;
	}

	.app-toolbar {
		display: -webkit-flex;
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
}

h1 {
	font-size: 20px;
}

.fill-remaining-space {
	flex: 1 1 auto;
}

md-list {
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

md-nav-list {
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.active-link {
	.md-list-item {
		color: #1976D2;
	}
}

.app-card-container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;

	md-card {
		margin: 8px;
		width: 350px;
	}
}

.app-main-container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row;
	flex-flow: row;

	> {
		.app-card-container {
			-webkit-flex: 3 1 60%;
			flex: 3 1 60%;
			-webkit-order: 1;
			order: 1;
		}
		.app-aside-container {
			margin: 8px;
			-webkit-flex: 1 1 40%;
			flex: 1 1 40%;
			-webkit-order: 2;
			order: 2;
		}
	}
}

.app-aside-container > {
	[md-raised-button], md-input-container {
		margin: 5px;
	}
}

@media all and (max-width: 640px) {
	.app-main-container {
		-webkit-flex-flow: column;
		flex-flow: column;
		flex-direction: column;
		
		> {
		.app-card-container, .app-aside-container {
			-webkit-order: 0;
			order: 0;
		}
		}
	}
}